<!DOCTYPE html>
<html>
<head>
  <title>Rubyconf: Flows, mockups</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render(:partial => 'layouts/header')%>
  
  <section id="content">
    <div class="center-wrapper">
      <% unless notice.blank? %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% unless alert.blank? %>
        <p class="alert"><%= alert %></p>
       <% end %>
      <%= yield %>
    </div><%# end .center-wrapper %>
  </section><%# end #content %>
</body>
</html>